.layout {
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow-y: scroll; */
  /* overflow: hidden; */
}

.layout-body {
  position: absolute;
  height: 100%;
  width: 100%;
  width: 100%;
  padding-top: var( --appbar-desktop-height); 
  /* overflow-x: hidden;
  overflow-y: scroll; */
  /* padding-right: 270px; */
  transition: 0.15s padding ease-out;
  overflow: hidden;
}
.layout-body--padding{
  padding-right: var(--cartbar-width);
}

.layout-body-full {
    position: absolute;
    width: 100%;
  
  }

@media only screen and (max-width: 700px) {
  .layout-body {
    position: absolute;
    padding-top: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;

  }
}
