.slick-item{
cursor: pointer;


}

.slick-item img{
    margin: auto;
}

.slicker{
    background-color: cornflowerblue;
    margin: 0 auto;
}

.slick-next-prev-btn{
    width: 30px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}