.slick-item{
cursor: pointer;


}

.slick-item img{
    margin:  0 auto;
}

.slicker{
    background-color: cornflowerblue;
    margin: 0 auto;
}

.slick-next-prev-btn{
    width: 30px;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-item-landing-photo{
    width: 100vh;
    height: auto;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-item-landing-photo img{
    width: 100%;
    height: auto;
}

.auto_img{
  
}