 .side-bar {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    box-shadow: 0 8px 16px 0 rgba(255,255,255, 0.9);
    z-index: 1009;
   
} 
.cart-bar {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    transition: 0.15s ease;
    z-index: 1000;
    position: fixed;
    right: 0;
}

.sidebar__content{
    width: 100%;
    height: 100vh;
}

.toggle-menu {
    height: 50px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 9rem;
    width: 10px;
    position: absolute;
    outline: none;
    z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
    border-color: rgba(64, 194, 133, 0.693);
    border-left: 0;
}