.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}


.image-mag {
}
.thumbs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

}
.thumbs img {
  cursor: pointer;
  width: 80px;
  height: auto;
}
.thumbs .group {
  margin: var(--gap-very-small);
}

.round-circle-border {
  border: 1px solid red;
  border-radius: 500px;
}