
.content--area{
  margin-left: var(--gap-double-extra-large); 
  margin-right: var(--gap-double-extra-large);
}
.advert-area{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  padding: 1px;
 
}
.addvert-area img {
  /* object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; */
}
.back-links{
display: flex;
flex-direction: row;
align-items: flex-start;
margin: 0;
padding-top: var(--gap-large);
font-size: var(--font-size-category-name);
/* background-color: orange; */
}

/* .back-links-item{
  padding: var(--gap-medium);
} */
.horizontal-line{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: var(--gap-large);

}
.horizontal-line--text{
  font-size: var(--font-size-category-name);

}
.horizontal-line hr{
  flex: 1;

}

.horizontal-line div{
  margin: auto;
  /* padding-left: 50px;
  padding-right: 50px; */
  padding: 0px var(--gap-double-extra-large);
  font-size: var(--font-size-medium);

}

.footer--area{
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .content--area{
    margin-left: var(--gap-large); 
   margin-right: var(--gap-large); 
 }
} 