.offer__product__portrait {
  display: flex;
  flex-direction: column;

  height: auto;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  cursor: pointer;


}
/* .offer__product__portrait:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.offer__product__portrait--image {
  max-width: var(--grid-item-max-width);
  height: auto;
}

.portrait__product-card {
  position: relative;
  width: 100%;
  height: auto;
 

}

.portrait__card__content {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--gap-small);
}


.portrait__content--image > * {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.portrait__text--title {
  font-size: var( --font-size-product-name);
  line-height: 1rem;
  height: 3.5rem;
  /* width: 100%; */
  text-align: center;
   word-wrap: break-word;      /* IE 5.5-7 */
   white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
   white-space: pre-wrap;      /* current browsers */
}

.portrait__text--sub {
  font-size: var(--font-size-product-sub-text);
  height: 1.5rem;
  width: 100%;
  text-align: center;
  color: var(--font-color-secondary);
}

.portrait__product__price,
.portrait__price--crop {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  font-size: var(--font-size-product-deleted-price);
}

.portrait__price--mrp {
  margin: 0.4rem;
  font-size: var(--font-size-product-price);
  line-height: 10px;
}

.portrait__price--red {
  color: red;
}
/*---------BUTTONS--------*/
.portrait__btn__bag {
  display: flex;
  /* height: 2.4rem; */
  border-radius: 5px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, border 0.2s, color 0.2s; /*means when we hover over a btn backgorund, border and text  color will take 0.2s transition time to change the color*/
}

.portrait__btn__bag {
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--theme-color-2-light);
  color: white;
  font-size: 1.3rem;
}
.portrait__btn__bag--m,
.portrait__btn__bag--p {
  flex-basis: 20%;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.portrait__btn__bag--m {
  border-right: 2px solid var(--theme-color-2-dark);
}
.portrait__btn__bag--p {
  border-left: 2px solid var(--theme-color-2-dark);
}
.portrait__btn__bag--m:active,
.portrait__btn__bag--p:active {
  -webkit-box-shadow: inset 0px -4px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -4px 15px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -4px 15px -1px rgba(0, 0, 0, 0.75);
}
.portrait__btn__bag-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: var(--font-size-text-cart-button);
  padding: var(--gap-small);
}
.portrait__btn__bag--text {
  flex-grow: 1;
  flex-basis: 70%;
  text-align: center;
  margin: auto;
  font-size: var(--font-size-text-cart-button);
}
.portrait__btn__bag--text-price {
  font-size: var(--font-size-small);
}
