.root-details {
  display: flex;
  flex-direction: column;
}
.root-details .advert {
 display: flex;
 justify-content: center;
 flex-direction: column;
 background-color: var(--theme-color-2-light);

}
.root-details .advert span{
  align-items: center;
 display: flex;
 justify-content: center;
 font-size: var(--font-size-large);
 font-style: bold;
 word-break: break-word;
 padding: var(--gap-small);
 color: var(--font-color-primary-inverse);

}
.root-details .advert img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}
.root-container {
}
.container-top,
.container-bottom {
  /* max-height: 500px; */
  display: flex;
  padding: 15px;
}
.container-top .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

/* .container-top .left .bottom img{
   object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;  
  cursor: pointer;
} */
/* .container-top .left .bottom {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
} */
/* .container-top .left .bottom .group {
  margin: var(--gap-very-small);
} */
/* .round-circle-border {
  border: 1px solid red;
  border-radius: 500px;
} */
.container-top .right {
  flex: 1;
}

.container-top .right .title {
  font-size: var(--font-size-large);
  line-height: var(--font-size-large);
  word-break: break-word;
  color: var(--font-color-primary);
}
.container-top .right .subtext {
  font-size: var(--font-size-small);
  color: var(--font-color-secondary);
  font-style: bold;
  margin: var(--gap-small);
}

.container-top .right .price {
  display: flex;
  flex-direction: row;
}
.container-top .right .price .left {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-start;
}
.font-large-price {
  font-size: var(--font-size-large);
  font-style: bold;
}
.font-small-price {
  font-size: var(--font-size-very-small);
}
.container-top .right .price .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--theme-color-2-dark);
  font-style: bold;
  color: var(--font-color-primary-inverse);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 13% 50%);
}
.container-top .right .price .right .dot {
  height: 5px;
  width: 5px;
  background-color: var(--font-color-primary-inverse);
  border-radius: 50%;
  margin-right: var(--gap-medium);
}
.container-top .right .price .right .text {
  margin-right: var(--gap-medium);
}
.container-top .right .btns {
  display: flex;
  justify-content: space-around;
  margin-top: var(--gap-medium);
}
.container-top .right .btns .counter {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color-dark);
  border-radius: 5px;
  flex: 1.5;
  background-color: var(--background-color-primary);
  margin-right: var(--gap-medium);
}
.container-top .right .btns .counter .minus:hover,
.container-top .right .btns .counter .plus:hover {
  background: var(--background-color-primary-hover);
}
.container-top .right .btns .counter .minus:active,
.container-top .right .btns .counter .plus:active,
.container-top .right .btns .buy-now:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.container-top .right .btns .counter .minus,
.container-top .right .btns .counter .plus,
.container-top .right .btns .buy-now {
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  perspective: 1000px;
  transform-origin: center bottom;
}
.container-top .right .btns .counter .minus,
.container-top .right .btns .counter .plus {
  flex: 1;
  display: flex;
  background-color: var(--background-color-secondary);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-extra-large);
}
.container-top .right .btns .counter .minus {
  border-right: 1px solid var(--border-color-dark);
}
.container-top .right .btns .counter .bag {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-top .right .btns .counter .bag .top {
  flex: 1;
  font-size: var(--font-size-extra-large);
  line-height: var(--font-size-extra-large);
}
.container-top .right .btns .counter .bag .bottom {
  flex: 1;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}
.container-top .right .btns .counter .plus {
  border-left: 1px solid var(--border-color-dark);
}

.container-top .right .btns .buy-now {
  background: var(--theme-color-2-light);
  flex: 1;
  margin-left: var(--gap-medium);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-style: bold;
  color: var(--font-color-primary-inverse);
}

.container-top .right .btns .buy-now:hover {
  background: var(--theme-color-2-dark);
}
.container-top .right .divider {
  margin: 25px 20px;
  margin-bottom: 20px;
}
.container-top .right .description {
  margin: 0px 10px;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  word-break: break-word;
  white-space: pre-line;
  overflow-y: "scroll";
  height: 100px;
}
.container-bottom {
  background-color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
}
.container-bottom .top {
  display: flex;
  flex-direction: row;
}
.container-bottom img,
.container-bottom span {
  margin-right: var(--gap-medium);
}
.container-bottom .top .left {
  flex: 1;
}
.container-bottom .top .right {
}
.container-bottom .top img {
  width: 30px;
  height: 30px;
}
.container-bottom .bottom {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--gap-extra-large);

  /* height: 100%; */
}
.container-bottom .bottom .left {
  flex: 2;
  border-right: 2px solid var(--border-color-dark);
  margin-right: var(--gap-small);
  padding-right: var(--gap-small);
}
.container-bottom .bottom .left img {
  height: 60px;
  margin: auto;
}
.container-bottom .bottom .left .company-goal {
  word-break: break-word;
}
.container-bottom .bottom .left .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-bottom .bottom .left .links .customer-service,
.container-bottom .bottom .left .links .about-company,
.container-bottom .bottom .left .links .for-business {
  margin-top: var(--gap-medium);
}
.container-bottom .bottom .left .links .title {
  font-size: var(--font-size-medium);
  font-style: bold;
}
.container-bottom .bottom .left .links .border {
  margin: var(--gap-small);
  padding: 0;
}
.container-bottom .bottom .left .links .item {
}
.container-bottom .bottom .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container-bottom .bottom .right .mobile-apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--gap-extra-large);
}
.container-bottom .bottom .right .mobile-apps img {
  margin: 0px 5px;
  max-width: 120px;
}
.container-bottom .bottom .right .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap-medium);
}
.container-bottom .bottom .right .contact-info .phone-number {
  font-style: bold;
  font-size: var(--font-size-extra-large);
}
.container-bottom .bottom .right .contact-info .phone-number img {
}
.container-bottom .bottom .right .contact-info .phone-number span {
}
.container-bottom .bottom .right .contact-info .email {
}

.container-bottom .bottom .right .contact-info .email .email-address {
  font-style: bold;
}

.container-bottom .bottom .right .social-networks {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: var(--gap-extra-large);
}
/* .container-bottom .bottom .right .contact-info .social-network  .box-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.container-bottom .bottom .right .social-networks img {
  max-width: 40px;
}

@media (max-width: 600px) {
  .container-top {
    flex-direction: column;
  }
  .container-top .left {
    flex: 1;
  }
  .container-top .right {
    flex: 1;
  }
  .container-bottom .top {
    flex-direction: column;
    align-items: center;
  }

  .container-bottom .bottom {
    flex-direction: column;
  }
  .container-bottom .bottom .left .links {
    flex-direction: column;
    align-items: center;
  }
  .container-bottom .bottom .left .links .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container-bottom .bottom .left {
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .container-bottom .bottom .right {
    margin-top: var(--gap-medium);
  }
  .container-bottom .bottom .left img {
    margin: auto;
  }

  .container-bottom .bottom .left .company-goal {
    display: block;
    text-align: center;
  }
  .root-details .advert {
    flex-direction: column;
   
   }
}
