.root-details {
  display: flex;
  flex-direction: column;
}
.root-details .advert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--theme-color-2-light);
}
.root-details .advert span {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-large);
  font-style: bold;
  word-break: break-word;
  padding: var(--gap-small);
  color: var(--font-color-primary-inverse);
}
.root-details .advert img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}
.root-container {
}
.container-top {
  display: flex;
  padding: 15px;
}
.container-top .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}


.container-top .right {
  flex: 1;
}

.container-top .right .title {
  font-size: var(--font-size-large);
  line-height: var(--font-size-large);
  word-break: break-word;
  color: var(--font-color-primary);
}
.container-top .right .subtext {
  font-size: var(--font-size-small);
  color: var(--font-color-secondary);
  font-style: bold;
  margin: var(--gap-small);
}

.container-top .right .price {
  display: flex;
  flex-direction: row;
}
.container-top .right .price .left {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-start;
}
.font-large-price {
  font-size: var(--font-size-large);
  font-style: bold;
}
.font-small-price {
  font-size: var(--font-size-very-small);
}
.container-top .right .price .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--theme-color-2-dark);
  font-style: bold;
  color: var(--font-color-primary-inverse);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 13% 50%);
}
.container-top .right .price .right .dot {
  height: 5px;
  width: 5px;
  background-color: var(--font-color-primary-inverse);
  border-radius: 50%;
  margin-right: var(--gap-medium);
}
.container-top .right .price .right .text {
  margin-right: var(--gap-medium);
}
.container-top .right .btns {
  display: flex;
  justify-content: space-around;
  margin-top: var(--gap-medium);
  /* height: 70px; */

  
}
.container-top .right .btns .counter {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color-dark);
  border-radius: 5px;
  flex: 1.5;
  background-color: var(--background-color-primary);
  margin-right: var(--gap-medium);
  
}
.container-top .right .btns .counter .minus:hover,
.container-top .right .btns .counter .plus:hover {
  background: var(--background-color-primary-hover);
}
.container-top .right .btns .counter .minus:active,
.container-top .right .btns .counter .plus:active,
.container-top .right .btns .buy-now:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.container-top .right .btns .counter .minus,
.container-top .right .btns .counter .plus,
.container-top .right .btns .buy-now {
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  perspective: 1000px;
  transform-origin: center bottom;
}
.container-top .right .btns .counter .minus,
.container-top .right .btns .counter .plus {
  flex: 1;
  display: flex;
  background-color: var(--background-color-secondary);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-large);
}
.container-top .right .btns .counter .minus {
  border-right: 1px solid var(--border-color-dark);
}
.container-top .right .btns .counter .bag {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;

}
.container-top .right .btns .counter .bag .top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-text-cart-button);
  padding: var(--gap-small);
}
.container-top .right .btns .counter .bag .bottom {
  flex: 1;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}
.container-top .right .btns .counter .plus {
  border-left: 1px solid var(--border-color-dark);
}

.container-top .right .btns .buy-now {
  background: var(--theme-color-2-light);
  flex: 1;
  margin-left: var(--gap-medium);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-style: bold;
  color: var(--font-color-primary-inverse);
}

.container-top .right .btns .buy-now:hover {
  background: var(--theme-color-2-dark);
}
.container-top .right .divider {
  height: 1px;
  margin: var(--gap-large);
  /* margin: 25px 20px; */
  /* margin-bottom: 20px; */
}
.container-top .right .description {
  margin: 0px 10px;
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  word-break: break-word;
  white-space: pre-line;
  overflow-y: "scroll";
}
@media (max-width: 600px) {
  .container-top {
    flex-direction: column;
  }
  .container-top .left {
    flex: 1;
  }
  .container-top .right {
    flex: 1;
  }
 
  .root-details .advert {
    flex-direction: column;
  }
}
