.card {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    border: 1px solid #EDEDED;
    padding: 0.2rem 0.5rem 1rem 0.5rem;
  }
  .header {
    display: flex;
    justify-content: end;
    margin: auto 0;
    border: 1px solid #EDEDED;
    padding: 2px;
    color: red;
  }
  .discount {
    display: flex;
  }
  .title-discount {
  }
  .icon-badge-green {
  }
  .icon-badge-red {
  }
  .image {
    margin: auto;
    height: 8rem;
    display: flex;
  }
  img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .content {
  }
  .company-name {
    display: block;
    color: #b0b0b0;
  }
  .buttons {
  }
  .rattings {
    display: block;
  }
  .mrp {
    display: block;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .input-qty {
    max-width: 5rem;
  }
  .button-add {
      flex: 1;
  }