.nav-bar-top{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: lightslategrey;
    height: 4rem; /*config.APP_BAR_HEIGHT_FULL_SCREEN*/
  }
  .nav {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    gap:.5rem 2rem;
    margin: auto ;

  }
  .search-box {
    flex: 1;
    display: flex;
    margin-left: 2rem;
  }
  .search-box input {
    flex: 1;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 2rem;
  }
  /*small phones from 0 to 480px*/
  @media only screen and (max-width: 700px) {
    .nav-bar-top{
      height: 5rem; /*config.APP_BAR_HEIGHT_MOBILE_SCREEN*/
    }
    .nav{
      flex-direction: column;
    }
    .search-box{
      order: 2;
      margin: 0 .2rem;
    }
    .buttons{
      order: 1;
      margin: 0 1rem;
    }
  }