@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap");

:root {
  --overlay-color:rgba(0, 0, 0, 0.9);
  --mobile-device-resolution: 700;
  --tab-device-resolution: 1000;
  /**content area padding**/
  --sidebar-width: 16rem; /*side bar width*/
  --appbar-desktop-height:3.5rem;
  --appbar-mobile-height: 5.2rem;
  --sidebar-width-with-extra-padding: 2rem; /*side bar width + padding*/
  --padding-right-extra: 0.2rem;
  /**color**/
  --font-color-primary: #000000;
  --font-color-secondary: #6b6b6b;
  --font-color-secondary-inverse: #a6a6a6;
  --font-color-primary-inverse: #ffffff;
  --font-color-ternary-inverse: #cccccc;
  --font-color-ternary: #b8b8b8;

  --font-color-alert: #ff0000;

  --theme-color-1-dark: #0c0028;
  --theme-color-1-light:#190052;
  --theme-color-2-dark: #ca9502;
  --theme-color-2-light: #fcba03;
  --theme-color-3-dark: #960088;
  --theme-color-3-light: #bd00ab;

  --background-color-sidebar: #F5F5F5;
  --background-color-primary: #F5F5F5;
  --background-color-primary-hover: #ebebeb;
  --background-color-secondary: #f0f0f0;
  --background-color-secondary-hover: #ebebeb;
  --background-color-primary-inverse: #000000;
  --background-color-secondary-inverse: #858585;

  --border-color-menu-dark: #7d7d7d;
  --border-color-dark: #e5e5e5;
  --border-color-light: #ebebeb;

  /**size**/
  --font-size-double-extra-large: 2.5rem;
  --font-size-extra-large: 1.8rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
  --font-size-very-small: 0.8rem;

  /**gap**/
  --gap-section: 5rem;
  --gap-double-extra-large: 3rem;
  --gap-extra-large: 2rem;
  --gap-large: 1rem;
  --gap-medium: 0.5rem;
  --gap-small: 0.2rem;
  --gap-very-small: 0.1rem;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.hh {
  color: peru;
}

/*  GRID OF THREE   ============================================================================= */

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--overlay-color); /* Black background with opacity */
  z-index: 1002; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/* app buttons**/
.btn__all {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  border-radius: 5px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;
}
.app__btn {
  background-color: var(--background-color-secondary);
  border: 1px solid var(--background-color-secondary);
  color: var(--font-color-primary);
}
.app__btn:hover,
.app__btn:link {
  background: var(--background-color-secondary-hover);
  color: var(--font-color-primary);
}

.app__btn--filled {
  background: var(--theme-color-2-light);
  text-decoration: none;
  margin: var(--gap-small);
  color: var(--font-color-primary-inverse);
  border: 1px solid var(--font-color-primary-inverse);
}

.app__btn--filled:hover,
.app__btn--filled:link {
  background: var(--theme-color-2-dark);
  color: var(--font-color-primary-inverse);
}
.app__btn--filled:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}

.app__btn200 {
  width: 200px;
}

/**button end**/
/**alert box**/
.alert__box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert--success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert--failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert--warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.side__bar__cross--left{
	position:fixed;
	top:0px;
	left:17rem;
  z-index: 1003;
}


.side__bar__cross--left:after {
  content: "\00d7";
  font-size: 50px; 
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

/*********React Link************/
.react__link--colorless{
  color: inherit;
  text-decoration: inherit;
}
.react__link--colored{
  color: #0000EE;
  text-decoration: inherit;
}
/**alert box end**/
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}
