
@media only screen and (min-width: 701px) {
  .nav-bar{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    background-image: linear-gradient(to right, #B3EE3A , #7CCD7C);
    height: 4rem; /*config.APP_BAR_HEIGHT_FULL_SCREEN*/
  }
  .nav-bar-left{
   width: 21rem;
   margin: auto;
  }
 .nav-bar-right{
    width: 100%;
    margin: auto;
    display: flex;
    /* flex: 0 0 100%; */
    flex-direction: row;

  }
  .nav {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    /* gap:.5rem 2rem; */
    margin: auto ;

  }
   .menu{
    visibility: hidden;
  }
  .logo{
    max-width: 10rem;
    max-height: 5rem;
    margin: auto;
  } 
  .search-box {
    flex: 1;

    display: flex;
    /* padding-left: 18rem; SIDE_BAR_WIDTH from config file */
    height: 2.5rem;
  }

  .search-box input {
    flex: 1;

  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 2rem;
    /* margin: auto 2rem 0 auto; */
  }
  .button{
    border: none;
    display: inline-block;
    cursor: pointer;
    color: white;
  }
  .text-button{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .sign-in{
      margin: auto;
  }
  .language{
      margin: auto;
  }
}
  /*small phones from 0 to 480px*/
  @media only screen and (max-width: 700px) {
    .nav-bar-right{
      display: flex;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 7;
      flex-direction: column;
      margin: auto ;
      gap:.5rem 2rem;
      background-image: linear-gradient(to right, #B3EE3A , #7CCD7C);;
      height: 5rem; /*config.APP_BAR_HEIGHT_MOBILE_SCREEN*/
    }
    .button{
      border: none;
      display: inline-block;
      cursor: pointer;
      color: white;

    }
    .text-button{
      font-size: 1.5rem;
      font-weight: bold;
    }
    /* .nav {
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      gap:.5rem 2rem;
      margin: auto ;
    
    } */
    .search-box {
      flex: 1;
      display: flex;
      margin: 0 .2rem;
      order: 2;
     
    }
    .search-box input {
      flex: 1;
      height: 2rem;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      margin: auto 1rem;
      order: 1;
      color: white;

  
    }
    .menu{
      visibility: visible;
    }
  }