.app__footer {
  background-color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
  padding: var(--gap-large);
}
.footer__top {
  display: flex;
  flex-direction: row;
}
.app__footer img,
.app__footer span {
  margin-right: var(--gap-medium);
}
.delivery--hr {
  flex: 1;
  display: flex;
  align-items: center;
}
.pay--with {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__top img {
  width: 30px;
  height: 30px;
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--gap-extra-large);

  /* height: 100%; */
}
.footer__company {
  flex: 2;
  border-right: 2px solid var(--border-color-dark);
  margin-right: var(--gap-small);
  padding-right: var(--gap-small);
}
.footer__company img {
  /* height: 60px;
  margin: auto; */

}
.company__goal {
  word-break: break-word;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__links > * {
  margin-top: var(--gap-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links--title {
  font-size: var(--font-size-medium);
  font-style: bold;
}
.footer__links--border {
  margin: var(--gap-small);
  padding: 0;
  width: 200px;
}

.footer__contact__apps {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mobile-apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--gap-extra-large);
}
.mobile-apps img {
  margin: 0px 5px;
  max-width: 120px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap-medium);
}
.footer-phone-number {
  font-style: bold;
  font-size: var(--font-size-extra-large);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-phone-number-icon {
  object-fit: cover;
  width: 25px;
  height: 25px;
}
.footer-phone-number-text {
}
.email-address {
  font-style: bold;
}

.social-networks {
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: auto;
  margin-top: var(--gap-extra-large);
}

.social-networks img {
  max-width: 40px;
}

@media (max-width: 600px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
  }

  .footer__bottom {
    flex-direction: column;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    margin-top: var(--gap-medium);
  }
  .footer__links > * {
    margin-top: var(--gap-large);

    align-items: center;
  }
  .footer__links--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer__company {
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .footer__contact__apps {
    margin-top: var(--gap-medium);
  }
  .footer__company img {
    margin: auto;
  }

  .company__goal {
    display: block;
    text-align: center;
  }
}
