
  
  .form__box {
    width: 320px;
    height: auto;
    min-height: 300px;
    margin: var(--gap-large) auto;
    background: #fff;
    /* border: thin solid #ededed; */
    /* margin-bottom: 35px; */
  }
  
  .form__box--h3 {
    text-align: center;
    font-size: var(--font-size-small);
    color: var(--font-color-secondary);
    padding: var(--gap-medium);
  }
  .or__text{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: var(--font-color-secondary);

  }
  .or__text hr{
      width: 100%;
      height: 1px;
      margin: var(--gap-medium);
      background-color: var(--border-color-dark);

  }
  .user__form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  
  .form--input {
    display: inline-block;
    width: 260px;
    height: 50px;
    margin: var(--gap-medium) auto;
    padding: var(--gap-medium);
    box-sizing: border-box;
    font-size: var(--font-size-very-small);
    border: 1.5px solid var(--border-color-dark);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .form--input:focus {
    border: thin solid var(--theme-color-2-light);
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: var(--font-color-secondary);
    font-weight: 700;
    font-size: 0.9em;
  }
  
  
 

  .forgot {
    width: 260px;

    text-decoration: none;
    color: var(--font-color-secondary);
    font-size: var(--font-size-small);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px auto;
   
  } 
  .signup {
    width: 100%;
    margin-top: var(--gap-medium);
    padding: 15px;
    border-top: 1px solid var(--border-color-dark);

  }
  .signup__form{
    width: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color-secondary);
    font-size: var(--font-size-small);

  }

  
  .submit__btn {
    width: 260px;
    height: 50px;
    background: var(--theme-color-2-light);
    border: none;
    outline: none;
    margin: 0 auto;
    display: block;
    color: var(--background-color-primary);
    margin: var(--gap-medium) auto;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    font-size: var(--font-size-small);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .margin__bottom20px{
    margin-bottom: 20px;
  }
  /**social media button**/  

  
  .soc {
    margin-top: 20px;
  }

  .soc--btn {
    width: 260px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: var(--font-size-small);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .google {
    background: #fff;
    color: var(--background-color-primary-inverse);
  }
  .facebook {
    background: #3b5998;
    color: var(--background-color-primary);
  }


  .block-wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .block-wrap > div {
    width: 100%;
    text-align: center;
  }
  
  .btn-google,
  .btn-fb {
    display: inline-block;
    border-radius: 1px;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 0.218s, border-color 0.218s,
      box-shadow 0.218s;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  }
  .btn-google .google-content,
  .btn-google .fb-content,
  .btn-fb .google-content,
  .btn-fb .fb-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 300px;
    height: 50px;
  }
  .btn-google .google-content .logo,
  .btn-google .fb-content .logo,
  .btn-fb .google-content .logo,
  .btn-fb .fb-content .logo {
    padding: 15px;
    height: inherit;
  }
  .btn-google .google-content svg,
  .btn-google .fb-content svg,
  .btn-fb .google-content svg,
  .btn-fb .fb-content svg {
    width: 18px;
    height: 18px;
  }
  .btn-google .google-content p,
  .btn-google .fb-content p,
  .btn-fb .google-content p,
  .btn-fb .fb-content p {
    width: 100%;
    line-height: 1;
    letter-spacing: 0.21px;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  
  .btn-google {
    background: #fff;
  }
  .btn-google:hover {
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  }
  .btn-google:active {
    background-color: #eee;
  }
  .btn-google .google-content p {
    color: #757575;
  }
  
  .btn-fb {
    padding-top: 1.5px;
    background: #4267b2;
    background-color: #3b5998;
  }
  .btn-fb:hover {
    box-shadow: 0 0 3px 3px rgba(59, 89, 152, 0.3);
  }
  .btn-fb .fb-content p {
    color: rgba(255, 255, 255, 0.87);
  }

  .otp__btns{
    display: flex;
    flex-direction: row;
  }
  .otp__btns>*{
    margin: var(--gap-medium);
  }
  .resend--inactive{
    background-color: var(--background-color-inactive);
    color: var(--font-color-inactive);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resend--active{
    background-color: var(--theme-color-1-light);
    color: var(--font-color-primary-inverse);
    display: flex;
    justify-content: center;
    align-items: center;
  }