.card {
    display: flex;
    flex-direction: column;
    max-width: var(--grid-item-max-width);
    border: 1px solid #ededed;
  }

  .category__rect{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color-dark);
    border-radius: 5px;
    /* width: 350px;
    padding: var(--gap-large);
    margin: var(--gap-small);
    color: var(--font-color-secondary); */
    /* padding: var(--gap-large); */
    margin: var(--gap-small);
    color: var(--font-color-secondary);
  }

  .category__rect img{
    width: 100%;
    height: auto;
  }


  .rect__text{
   display: flex;
   flex: 1;
   justify-content: center;
   margin: auto;
  }