.card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    border: 1px solid #ededed;
    padding: 0.2rem 0.5rem 1rem 0.5rem;
  }

  .category__rect{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color-dark);
    border-radius: 5px;
    width: 350px;
    padding: var(--gap-large);
    margin: var(--gap-small);
    color: var(--font-color-secondary);
  }


  .rect__text{
   display: flex;
   flex: 1;
   justify-content: center;
   margin: auto;
  }