.app-home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width-screen);
}


.section__multi_carousel {
  display: flex;
  flex-direction: column;
  /* margin: 50px var(--gap-large) 0px var(--gap-large); */
  margin: 0 auto;
  width: 100%;
  /* justify-content: center;
  white-space: nowrap; */

}

.section__multi_carousel-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}
.content-multi-carousel {
  margin-top: var(--gap-large);
  margin: 15px;
  padding: 15px;
}
.content-multi-carousel-product {
  margin-top: var(--gap-large);
  margin: 5px 15px;
  padding: 5px 15px;
}
.section_content,
.section__footer {
  display: flex;
  /* margin-top: var(--gap-large); */
  /* margin-left: var(--sidebar-width); */
  flex-direction: column;
}

.content--title {
  margin: 0 auto;
  font-size: var(--font-size-medium);
  color: var(--font-color-primary);
}
.section__advert{
 column-count: 2;
 margin: 5px;
 padding: 5px;
 column-gap: 5px;
}





/** search box**/

@media only screen and (min-width: 1000px) {
  .home {
    margin: 0px;
  }
}
@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 700px) {
  .home {
    margin: 0px;
  }
  .section_content,
  .section__footer {
    margin-left: 0;
  }
}
