.home {
  background: var(--background-color-primary);
  display: flex;
  flex-direction: column;
}

.home__landing {
  position: relative;
}
.landing__img {
  overflow: hidden;
}
.landing__img img {
  background-size: 100%;
  background: #fff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.landing__content--title {
  font-size: var(--font-size-extra-large);
  color: var(--font-color-primary);
  width: 80%;
  font-style: bold;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 0);
}
/** search box**/
/* .search-box-home,
.close-icon,
.search-wrapper-home {
  padding: 10px;
}
.search-wrapper-home {
  width: 100%;
}
.search-box-home {
  width: 500px;
  border: 1px solid var(--border-color-dark);
  outline: 0;
  border-radius: 5px;
}
.search-box-home:focus {
  box-shadow: 0 0 10px 2px var(--theme-color-2-light);
  border: 2px solid var(--theme-color-2-dark);
}
.search-btn {
  margin-left: -25px;
  z-index: 10;
  cursor: pointer;
} */

.section_content,
.section__footer {
  display: flex;
  /* margin-top: var(--gap-large); */
  /* margin-left: var(--sidebar-width); */
  flex-direction: column;
}
.section__advert {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px var(--gap-section) 0px var(--gap-section);
}
.content--title {
  margin: 0 auto;
  font-size: var(--font-size-large);
  color: var(--font-color-primary);
}
.content--cats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--gap-large);
}
.section__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px var(--gap-large) 0px var(--gap-large);
}
.content-carousel {
  display: flex;
  justify-content: center;
  margin-top: var(--gap-large);
}
.section__multi_carousel,
.section__gallery {
  display: flex;
  flex-direction: column;
  margin: 50px var(--gap-large) 0px var(--gap-large);
}

.content-multi-carousel,
.content--gallery {
  margin-top: var(--gap-large);
}
/* .content__cats--width{
  display: flex;
} */
/** search box**/

@media only screen and (min-width: 1000px) {
  .landing__img img {
    width: 100%;
  }
  .section__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
  }
}
/* @media only screen and (max-width: 1000px) {
  .landing__img {
  }
} */
@media only screen and (max-width: 700px) {
  /* .search-box-home {
    width: 400px;
  } */
  .landing__content--title {
    width: 100%;
    margin-left: 20px;
  }
  .section__advert {
    flex-direction: column;
  }
  .section_content,
  .section__footer {
    margin-left: 0;
  }
  .content--cats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 100px 100px; */
  }
  .landing__content {
    transform: translate(-50%, -50%);
  }
}
