.cartbar__pannel {
  height: 100%;
  width: 100%;
  background-color: var(--background-color-sidebar);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  

}
/* .sidebar--header {
  background-color: var(--theme-color-1-dark);
  color: var(--font-color-primary-inverse);
  width: 100%;
  height: var(--appbar-desktop-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-medium);
  font-weight: 400;
}
.sidebar--header >* {
  padding-left: var(--gap-small);

}
.sidebar--content {
  height: 100%;
  margin-left: var(--gap-small);
  overflow-y: scroll;
}
.sidebar--link {
  display: block;
  padding: 16px 0px;
  color: #757575;
  text-decoration: "none";
}

.sidebar--divider {
  margin: 0px 0 var(--gap-large) 0;
  height: 1px;
  background-color:var( --border-color-dark);
}
.offer__products{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.offer__products>* {
  margin: var(--gap-large) var(--gap-small) var(--gap-large) 0;

}
.offer--count{
  border: 2px solid var(--theme-color-2-light);
  border-radius: 5px;
  padding:0 var(--gap-medium);
} */

/**cart**/
.cart__item{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color-dark);
}
.cart__cross{
  font-size: var(--font-size-small); 
  color: var(--font-color-primary);
  text-align: center;
  cursor: pointer;
  font-size: var( --font-size-large);
  padding: var(--gap-small);
  align-items: center;
  display: flex;
}
.cart__cross--mobile{
  font-size: var(--font-size-small); 
  color: var(--font-color-primary);
  text-align: center;
  cursor: pointer;
  font-size: var( --font-size-extra-large);
  padding: var(--gap-medium);
}

.product__image{
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  padding: var(--gap-small);

}
.cart__item__info{
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  line-height: var(--font-size-small);
  justify-content: center;
}
.info__other{
  display: flex;
  flex-direction: row;
  line-height: var(--font-size-small);
}
.total__price{
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  line-height: var(--font-size-small);
  justify-content: center;

}
.cart__counter{
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  cursor: pointer;

}

.cart__cross:after {
  content: "\00d7";

}