.cart__bar--desktop {
  /* height: 100vh !important;
  max-height: 100%; */
  display: flex;
  flex-direction: column;
  transition: 0.15s ease;
  z-index: 1000;
  position: fixed;
  right: 0;
}
.cart__bar {
  background-color: var(--background-color-cart);
}
.cart__pannel--desktop {
  height: calc(100vh - var(--appbar-desktop-height)) !important;
  max-height: 100%;
  width: 100%;
  background-color: var(--background-color-sidebar);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0;

}
.pannel--header--desktop {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-large);
}
.pannel--content--desktop {
  overflow-y: scroll;
  background-color: var(--content-color-cart);

  height: 80%;
}
.pannel--footer--desktop{
  margin: 0px var(--gap-medium);

}
.cart__pannel--mobile {
  height: 100vh !important;
  max-height: 100%;
  width: 100%;
  background-color: var(--background-color-sidebar);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
}

.pannel--header--mobile {
  height: 10%;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-large);
}
.pannel--content--mobile {
  overflow-y: scroll;
  background-color: var(--content-color-cart);
  height: 80%;
}
.pannel--footer--mobile {
  display: flex;
  flex-direction: column;
  padding: var(--gap-small);
  height: 10%;
  margin: auto 0;
  justify-content: center;
  margin: 0px var(--gap-medium);

}
.header--left {
}
.cart--close {
  padding: var(--gap-medium);
  padding: var(--gap-small) var(--gap-medium);
  border: 1px solid var(--font-color-primary);
  cursor: pointer;

}

.no__product--message {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cart__footer--top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--gap-medium) 0px;


}
.cart__footer--totalamount {
  flex: 1; 
  background-color: var(--theme-color-1-light);
  color: var(--font-color-primary-inverse);
  height: 2.4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: var(--gap-medium);

}
.cart__footer--placeorder {
  /* margin: var(--gap-medium); */
  flex: 2;
}
.cartbar__livechat {
  margin: var(--gap-medium) 0px;

}

/* .cart__bar__content--desktop {
  width: 100%;
  height: 100vh;
} */
/* .sidebar--header {
  background-color: var(--theme-color-1-dark);
  color: var(--font-color-primary-inverse);
  width: 100%;
  height: var(--appbar-desktop-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-medium);
  font-weight: 400;
}
.sidebar--header >* {
  padding-left: var(--gap-small);

}
.sidebar--content {
  height: 100%;
  margin-left: var(--gap-small);
  overflow-y: scroll;
}
.sidebar--link {
  display: block;
  padding: 16px 0px;
  color: #757575;
  text-decoration: "none";
}

.sidebar--divider {
  margin: 0px 0 var(--gap-large) 0;
  height: 1px;
  background-color:var( --border-color-dark);
}
.offer__products{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.offer__products>* {
  margin: var(--gap-large) var(--gap-small) var(--gap-large) 0;

}
.offer--count{
  border: 2px solid var(--theme-color-2-light);
  border-radius: 5px;
  padding:0 var(--gap-medium);
} */

/**cart**/
.cart__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--font-color-primary-inverse);
}
.cart__cross {
  font-size: var(--font-size-small);
  color: var(--font-color-primary);
  text-align: center;
  cursor: pointer;
  font-size: var(--font-size-large);
  padding: var(--gap-small);
  align-items: center;
  display: flex;
}
.cart__cross--mobile {
  font-size: var(--font-size-small);
  color: var(--font-color-primary);
  text-align: center;
  cursor: pointer;
  font-size: var(--font-size-extra-large);
  padding: var(--gap-medium);
}

.product__image {
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  padding: var(--gap-small);
}
.cart__item__info {
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  line-height: var(--font-size-small);
  justify-content: center;
}
.info__other {
  display: flex;
  flex-direction: row;
  line-height: var(--font-size-small);
}
.total__price {
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  line-height: var(--font-size-small);
  justify-content: center;
}
.cart__counter {
  display: flex;
  padding: var(--gap-small);
  flex-direction: column;
  cursor: pointer;
}

.cart__cross:after {
  content: "\00d7";
}
