.buttoneffect {
    position: relative;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #000;
    width: 200px;
    text-align: left;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttoneffect:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttoneffect:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .btn{
      background-color: red;
  }