.sidebar__pannel {
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--background-color-sidebar);
    overflow: hidden;
  }
  .sidebar--header {
    background-color: var(--theme-color-1-dark);
    color: var(--font-color-primary-inverse);
    width: 100%;
    height: var(--appbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-medium);
    font-weight: 400;
  }
  .sidebar--header >*{
   flex: 1;
  }
  .sidebar__header--user,
  .sidebar__header--home{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar__header--user>*,
  .sidebar__header--home>*{
    margin: var(--gap-small);
   }
  .sidebar__header--home{
    flex: 1;

  }
  .sidebar--header >* {
    padding-left: var(--gap-small);
  
  }
  .sidebar--content {
    height: 100%;
    margin-left: var(--gap-small);
    overflow-y: scroll;
  }
  .sidebar--link {
    display: block;
    padding: 16px 0px;
    color: #757575;
    text-decoration: "none";
  }
  
  .sidebar--divider {
    margin: 0px 0 var(--gap-large) 0;
    height: 1px;
    background-color:var( --border-color-dark);
  }
  .offer__products{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .offer__products>* {
    margin: var(--gap-large) var(--gap-small) var(--gap-large) 0;
  
  }
  .offer--count{
    border: 2px solid var(--theme-color-2-light);
    border-radius: 5px;
    padding:0 var(--gap-medium);
  }