.grid{
  display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}
.grid-vertical {
  
     grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-max-width), 0fr)); 
    /* grid-template-columns: repeat(auto-fill); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));  */

  }
  .grid-landscape{
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-item-landscape-max-width), 0fr)); 

  }
