.card {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  border: 1px solid #ededed;
  padding: 0.2rem 0.5rem 1rem 0.5rem;
}


/* .add-to-cart .add-actions .action-sub {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.add-to-cart .add-actions .action-result {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.add-to-cart .add-actions .action-add {
  color: white;
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* overlay end**/
